@model IEnumerable<CRUD_WEB.Models.Times>

<p>
    @Html.ActionLink("Adicionar um novo time", "IncluirTime")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TimeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cores)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TimeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cores)
        </td>
        <td>
            @Html.ActionLink("Alterar", "EditarTime", new { id=item.TimeId }) |
            @Html.ActionLink("Excluir", "ExcluirTime", new { id=item.TimeId }, new { onclick = "return confirm(ATENÇÂO: Tem certeza que deseja escluir?);" })
        </td>
    </tr>
}

</table>
